<div class="homepage">
  <h1>Let's Save The<br>
    food!</h1>
  <h2>Create a new fridge:</h2>
  <div class="flex-centered">
    <div>
      <%= simple_form_for [@fridge = Fridge.new] do |f| %>
        <%= f.input :name, input_html: { class: 'input-home' } %>
        <%= f.button :submit,'Add a new  fridge', class:'button-primary' %>
      <% end %>
    </div>
  </div>
  <% if @fridges.empty? %>
    <h1>You dont have any fridge yet</h1>
  <% else %>
    <div class="fridges-container">
      <% @fridges.each do |fridge| %>
        <div class="fridge-name">
          <%= link_to fridge.name, fridge_path(fridge) %>
          <%= link_to 'delete', fridge_path(fridge), data: { turbo_method: :delete, turbo_confirm: "Are you sure"} %>
      </div>
    <% end %>
  <% end %>
  <% if @invite_notifications.length > 0 %>
    <p><%= link_to 'Someone invited you to be fridge buddies', invite_notifications_path() %></p>
  <% end %>
  <% if @ingredients_to_expire.empty? %>
    <p><%= link_to 'Someone invited you to be fridge buddies', invite_notifications_path() %></p>
  <% end %>
  <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
  <% end %>

</div>
