<h1><%= @fridge.name %></h1>
<% @fridge.ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
  <p><%= link_to "Update", edit_fridge_ingredient_path(@fridge,ingredient) %></p>
  <p><%= link_to "Delete", ingredient_path(ingredient), data: { turbo_method: :delete, turbo_confirm: "Are you sure"} %></p>
<% end %>
<p><%= link_to "Add ingredient", new_fridge_ingredient_path(@fridge) %></p>
