<div class="body-fridge container">
<h1 class="text-center py-4 fridge-show-title"><%= @fridge.name %></h1>
<h2><%= link_to "Invite People",  new_fridge_invite_notification_path(@fridge), class: "add-people-button" %></h2>

<%= form_tag fridge_path(@fridge), method: :get, class: "d-flex align-items-start", id:"searchbar" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control me-3 searchbar-input",
    placeholder: "Find"
  %>
  <%= select_tag "sort", options_for_select(["expiry date", "category"], params[:sort]), class: "button-secondary mt-3" %>
  <%= submit_tag "Search", class: "searchbar" %>
<% end %>
 <% if @expiry_notifications.length > 0 %>
    <p><%='Ingredients are expiring'%></p>
 <% end %>
<%= link_to "+", new_fridge_ingredient_path(@fridge), class: "button-round" %>
<div class="container-ingredients">
  <% @ingredients.each do |ingredient| %>
  <div class="ingredient-card" data-controller="collapse" data-action="click->collapse#showmore">
    <div class="left-card" data-collapse-target="description">
      <div class="">
        <p class="ingredients-font ingredient-card-details"><%= ingredient.name %></p>
        <p class="expiry-font ingredient-card-details"><%= "exp in #{(ingredient.exp_date - Date.today).to_i} days" %></p>
        <% if ingredient.how_long >= 0 && ingredient.how_long <= 2 %>
          <p><%='Expiring soon'%></p>
        <% end %>
      </div>
      <div class="d-none" data-collapse-target="ingredients">
        <p class="ingredients-font"><%= ingredient.category %></p>
        <p class="expiry-font"><%= ingredient.quantity %> <%= ingredient.unit %></p>
        <p class="comment"><%= ingredient.comment %>
        <div class="d-flex justify-content-end">
          <%= link_to edit_fridge_ingredient_path(@fridge,ingredient), class:"button-action" do %>
            <i class="fa-solid fa-pen"></i>
          <% end %>

          <%= link_to "Delete", ingredient_path(ingredient), class:"button-action", data: { turbo_method: :delete, turbo_confirm: "Are you sure"} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
<div class="buffer">
</div>
</div>
