<div class="body-fridge container py-5">
  <div class="mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <div class="dropdown">
        <button class="button-users" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <h1 class="dropdown-toggle"><%= @fridge.name %></h1>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% @fridge.users.each do |user|%>
              <div class="users-fridge">
                <%= image_tag("avatarstay.png", class:"avatar-icon") %>
                <li><a class="dropdown-item" href="#"><%= user.username %></a></li>
              </div>
            <% end %>
        </ul>
      </div>
      <h2><%= link_to "Invite People",  new_fridge_invite_notification_path(@fridge), class: "add-people-button" %></h2>
    </div>
    <div id="add-ingredient"class="d-flex justify-content-end">
      <div class="button-round">
        <%= link_to "+", new_fridge_ingredient_path(@fridge), class: "button-add" %>
      </div>
    </div>
    <%= form_tag fridge_path(@fridge), method: :get, class: "d-flex align-items-start mt-4 mb-2", id:"searchbar" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control searchbar-input-show",
        placeholder: "Ingredient..."
      %>
      <%= select_tag "sort", options_for_select(["Expiry date", "Category"], params[:sort]), class: "button-secondary" %>
      <%#= submit_tag "Search", class: "searchbar" %>
      <button class="searchbar px-3">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    <% end %>
  </div>
  <%# if @expiry_notifications.length > 0 %>
      <p><%#='Ingredients are expiring'%></p>
  <%# end %>
  <div class="container-ingredients overflow-auto">
    <% @ingredients.each do |ingredient| %>
    <div class="ingredient-card my-2" data-controller="collapse" data-action="click->collapse#showmore">
      <div class="left-card p-3" data-collapse-target="description">
        <div class="d-flex justify-content-between align-items-center">

          <div class="d-flex justify-content-start align-items-center">
            <% case ingredient.category %>
            <% when 'Fruits & Veggies' %>
              <i class="fa-solid fa-carrot fa-xl p-2"></i>
            <% when 'Eggs & Dairy' %>
              <i class="fa-solid fa-egg fa-xl p-2"></i>
            <% when 'Meat & Poultry' %>
              <i class="fa-solid fa-drumstick-bite fa-xl p-2"></i>
            <% when 'Seafood' %>
              <i class="fa-solid fa-fish fa-xl p-2"></i>
            <% else %>
              <i class="fa-solid fa-bowl-food fa-xl p-2"></i>
            <% end %>
            <h3 class="ingredients-font"> <%= ingredient.name %></h3>
            <p class="ps-2">(<%= ingredient.quantity %> <%= ingredient.unit %>)</p>
           </div>
          <% if ingredient.how_long >= 0 && ingredient.how_long <= 2 %>
            <p class="expiry-warning fw-bold"><%='Expiring soon'%></p>
          <% elsif ingredient.how_long < 0 %>
            <p class="expiry-color fw-bold"><%='Expired'%></p>
          <% end %>
        </div>
          <p class="expiry-font ingredient-card-details"><%= "expires in #{(ingredient.exp_date - Date.today).to_i} days" %></p>
        <div class="d-none" data-collapse-target="ingredients">
          <p class="ingredients-font"><%= ingredient.category %></p>
          <p class="comment"><%= ingredient.comment %>
          <div class="d-flex justify-content-end">
            <%= link_to edit_fridge_ingredient_path(@fridge,ingredient), class:"button-action" do %>
              <i class="fa-solid fa-pen"></i>
            <% end %>

            <%= link_to "Delete", ingredient_path(ingredient), class:"button-action", data: { turbo_method: :delete, turbo_confirm: "Are you sure"} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="buffer">
  </div>
</div>
