<h1><%= @fridge.name %></h1>
<%= form_tag fridge_path(@fridge), method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an ingredient"
  %>
  <%= select_tag "sort", options_for_select(["expiry date", "category"]) %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% @ingredients.each do |ingredient| %>
  <p><%= ingredient.name %>  <%= "- exp in #{(ingredient.exp_date - Date.today).to_i} days" %></p>
  <p><%= link_to "Update", edit_fridge_ingredient_path(@fridge,ingredient) %></p>
  <p><%= link_to "Delete", ingredient_path(ingredient), data: { turbo_method: :delete, turbo_confirm: "Are you sure"} %></p>
<% end %>
<p><%= link_to "Add ingredient", new_fridge_ingredient_path(@fridge) %></p>

<%= link_to 'Back to all fridges', root_path, class: 'btn-main my-2' %>
