<h1><%= @fridge.name %></h1>
<% @ingredients.each do |ingredient| %>
  <p><%= ingredient.name %></p>
  <p><%= link_to "Update", edit_ingredient_path(ingredient) %></p>
  <p><%= link_to "Delete", fridge_ingredient_path(@fridge,ingredient), data: { turbo_method: :delete, turbo_confirm: "Are you sure"} %></p>
<% end %>
<p><%= link_to "Add ingredient", new_fridge_ingredient_path(@fridge) %></p>

<%= form_tag fridge_path(@fridge), method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an ingredient"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
