<div class="navbar-body">
  <%= link_to root_path, class: "icon" do %>
    <%= image_tag("fridge.png", class: "icon") %>
  <% end %>
  <% if params[:fridge_id].nil? %>
    <%= link_to fridge_recipes_path(Fridge.find(params[:id])), class: "icon" do %>
      <%= image_tag("cooking.png", class: "icon") %>
    <% end %>
  <% else %>
    <%= link_to fridge_recipes_path(Fridge.find(params[:fridge_id])), class: "icon" do %>
      <%= image_tag("cooking.png", class: "icon") %>
    <% end %>
  <% end %>
  <%= image_tag("setting.png", class: "icon") %>
</div>
