<div class="navbar-body">
  <%= link_to root_path, class: "icon" do %>
    <%= image_tag("mini.png", class: "icon") %>
  <% end %>
  <%# <%= image_tag("user.png", class: "icon") %>
  <%= image_tag("cooking new.png", class: "icon") %>

<div class="dropup">
  <a class="" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <%= image_tag("gear new.png", class: "icon") %>
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="#">Notifications</a></li>
    <% if ( params[:controller] == "fridges" ) && ( params[:action] == "show" ) %>
      <li><a class="dropdown-item" href="#">Delete this fridge</a></li>
    <% end %>
    <li><a class="dropdown-item" href="#">Edit profile</a></li>
    <li><a class="dropdown-item" href="#">Log out</a></li>
  </ul>
</div>
</div>
