<div class="navbar-body">
  <%= link_to root_path, class: "icon" do %>
    <%= image_tag("fridge.png", class: "icon") %>
  <% end %>
  <%# <%= image_tag("user.png", class: "icon") %>
  <%= image_tag("cooking.png", class: "icon") %>
  <%= image_tag("setting.png", class: "icon") %>
</div>
