<h1>your invitations</h1>


<% @invite_notification.each do |invite| %>
  <%= simple_form_for [invite] do |f| %>
    <%= invite.receiver_user_id %>
    <%= f.button :submit, class:'btn-main my-2' %>
    <%= link_to "decline",invite_notifications_path(invite) , data: { turbo_method: :delete, turbo_confirm: "Are you sure"} %>
    <%= link_to 'Back to all ingredients', root_path, class: 'btn-main my-2' %>
  <% end %>
<% end %>
